<div class="blog-excerpt">
        <!-- Title -->
        <h4 class="blog-excerpt-title">
            <a href="<%- config.root %><%- item.path %>">
                <%- item.title %>
            </a>
        </h4>
        <!-- Date and Author -->
        <p class="blog-excerpt-meta">
           <em>
                <%= item.date.format(config.date_format) %>
                <% if(item.tags){ %>
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <%- list_tags(item.tags, {
                        show_count: false,
                        style: "flow",
                        separator: ", "
                    }) %>
                    
                <% } %>
            </em>
        </p>
        <!-- Content -->
        <%- item.excerpt || item.content %>
        <!-- Only display the Read More link if we are displaying an excerpt -->
        <% if(item.excerpt) { %>
                <a href="<%- config.root %><%- item.path %>">
                    <%= theme.excerpt_link %>
                </a>
        <% } %>
        <hr/>
    </div>