<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="<%- config.description %>">
    <meta name="author" content="<%- config.author %>"
    
    <!-- TODO: Add og and twitter card meta -->

    <title>TO DO: Add Title</title>

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <%- css('css/normalize.css') %>
    <%- css('css/skeleton.css') %>
    <%- css('css/ie10-viewport-bug-workaround.css') %>
    <%- css('css/site.css') %>
    <link rel="icon" href="favicon.ico">
</head>  