<%- partial('_partial/hero', {image: "hero.jpg", header: "My Header", subtitle:"Something to say"}) %>         

<article>
<div class="container">


<% page.posts.each(function(item){ %>
    <%- partial('_partial/article-excerpt', {item: item}) %>
<% }); %>

<nav>
        <ul class="pager">
            <% if (page.prev){ %>
                <li><a href="<%- config.root %><%- page.prev_link %>">Previous</a></li>
            <% } %>
            <% if (page.next){ %>
                <li><a href="<%- config.root %><%- page.next_link %>">Next</a></li>
            <% } %>
        </ul>
    </nav>
</div>
</article>